@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;500;600;700&display=swap');

:root {
    //đặt biến ở đây
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
}

html {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
    font-size: 16px;
}

input,
button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}