.wrapper {
    display: flex;

    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {}

.search {
    position: relative;

    height: 46px;
    background: rgba(22, 24, 35, .06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 16px;
        border: none;
        background: transparent;
        outline: none;
        caret-color: red;
    }

    input:not(:placeholder-shown)~.search-btn {
        //khi có input thì màu của btn thay đổi
        color: #000;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, .2);
    }
}

.search-result,
.search {
    width: 500px;
}

.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    border-radius: 92px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    border-left: 2px solid #ccc;
    padding: 10px 0;
    color: #ccc;

    &:hover {
        background: rgba(22, 24, 35, 0.06);
        cursor: pointer;
        color: #000;
    }
}

.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    ;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    padding: 5px 12px;
}
