.wrapper {

    font-weight: 700;
    min-width: 100px;

    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    +.wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.7;
    }
}

.primary {
    background-color: var(--primary);
    color: white;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }
}

.outline {

    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(254, 44, 85, 1);
    color: rgba(254, 44, 85, 1);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small {
    min-width: 88px;
    min-height: 28px;
    font-size: 16px;
    font-weight: 600;
}

.medium {
    min-width: 100px;
    min-height: 38px;
    font-size: 16px;

}

.large {
    width: 100%;
    font-size: 18px;
}

.text {
    background-color: transparent;
    font-size: 16px;

    &:hover {
        text-decoration: underline;

    }
}

.rounded {
    color: rgba(22, 24, 35, .75);
    background-color: transparent;
    min-width: 90px;
    min-height: 32px;
    border: 1px solid rgba(22, 24, 35, .12);
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    &:hover {
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}